



.page{
    margin-top: 70px;
    background-color: var(--primary-color);
    padding: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.bottom-page{
    background-color: var(--primary-color);
    padding: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.top{
    display: flex;
    flex-direction: row;
    margin: 30px;
    justify-content: space-between;

    align-items: center;
    font-size: 22px;
}

.home-page-portrait{
    width: 40%;
    margin-right: 40px;
}

.donate-button{
    color: var(--border-color);
    cursor: pointer;
    background-color: white;
    font-size: 25px;
    width: 200px;
    font-weight: bold;
    text-align: center;
    padding: 7px;
    border: solid black;
    margin-top: 30px;
    transition: color 0.1s , background-color 0.1s ;
    
}


.video{
    background-color: black;
       
    
}
iframe{
    height: 100%;

}

.donate-button:hover{
    color: white;
    background-color: var(--border-color);
   
}


@media (max-width: 860px) {
    .top {
      font-size: 17px;
    }
    
}

@media (max-width: 690px) {
    .top {
      font-size: 12px;
    }
}
    
@media (max-width: 520px) {
    .page{
       padding: 25px;
    }
    .home-page-portrait{
        margin: 0;
        width: 80%;
    }
    .top{
        flex-direction: column;
        margin: 0;
    }
    .top p{
        text-align: center;
        width: 100%;
    }

    

}
        
   

 