



.page{
    margin-top: 70px;
    background-color: var(--primary-color);
    padding: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.home-title{
    font-size: 50px;
}

.bottom-page{
    background-color: var(--primary-color);
    padding: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 100px;
}

.top{
    display: flex;
    flex-direction: row;
    margin: 30px;
    justify-content: space-between;

    align-items: center;
    font-size: 22px;
}

.home-page-portrait{
    width: 40%;
    margin-right: 40px;
}

.video{  
   
    width: 90%;
    position: relative;
    padding-bottom: 56.25%; /* Aspect ratio: 16:9 (height / width * 100%) */
    height: 0;
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 40px;
    z-index: 0;
    
    
}
iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
}





.donate-button{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--border-color);
    cursor: pointer;
    background-color: white;
    font-size: 25px;
    width: 200px;
    font-weight: bold;
    text-align: center;
    padding: 7px;
    margin-top: 30px;
    transition: color 0.4s , background-color 0.4s ;
    
}

.donate-button:hover{
    color: white;
    background-color: var(--border-color);
   
}




.newsletter-container{
    display: flex;
    flex-direction: column;

    width: 90%;
    height: 600px;
}

.newsletter-title{
    font-size: 30px;
}

.newsletter{
    width: 100%;
    height: 100%;
}

.newsletter-link{
    cursor: pointer;
    text-decoration: underline;
    color: white;
}




@media (max-width: 860px) {
    .top {
      font-size: 17px;
    }
    
}

@media (max-width: 690px) {
    .top {
      font-size: 12px;
    }
}
    
@media (max-width: 520px) {
    .page{
       padding: 25px;
    }
    .home-page-portrait{
        margin: 0;
        width: 80%;
    }
    .top{
        flex-direction: column;
        margin: 0;
    }
    .top p{
        text-align: center;
        width: 100%;
    }

    

}
        
   

 