
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    padding: 30px;
    font-size: 12px;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-top: solid var(--border-color);
}