
:root{
  --secondary-color: white;
  --primary-color: #29457e;
  --link-hover: #292929;
  --mobile-menu-color: #292929;
  --border-color: #b53a3a;

}

a, button{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
  text-decoration: none;
}